.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.form-center-crop {
    width: 30%; 
    margin:25px auto;
}

#delete-form, #delete-comment {
    display: inline;
}

