.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.form-center-crop {
    width: 30%; 
    margin:25px auto;
}

.glyphicon-tent {
    font-size: 1.5em;
    float: left;
    padding-top: 14px;
    padding-right: 10px;
}

#delete-form, #delete-comment {
    display: inline;
}

